:root {
    --light-pink: rgb(233, 120, 120);
    ;
}

body {
    margin: 0;
    padding: 0;
    font-family: Arial, Helvetica, sans-serif;
}

.screen {
    background-color: var(--light-pink);
    height: 100vh;
}

header {
    width: 100%;
}

.header-inner, .container {
    margin: auto;
    max-width: 600px;
}

.header-inner {
    height: 50px;
    border-bottom: 1px solid #3b3939;
    display: flex;
    align-items: center;
    padding: 0 24px;
    justify-content: space-between;
}

.logotipo, .login {
    cursor: pointer;
}

.user-interface {
    padding: 36px;
}

.square {
    background-color: rgba(255, 255, 255, 0.1);
    border-radius: 5px;
    padding: 16px;
}

.square-header {
    display: flex;
    justify-content: center;
    cursor: pointer;
}

.square-header>span {
    padding: 6px 12px;
    border-radius: 5px;
}

.square-body {
    text-align: center;
    font-size: 120px;
    padding: 36px 0;
    color: white;
}

.square-footer {
    text-align: center;
    padding-bottom: 16px;
}

.square-footer>button {
    border: none;
    border-radius: 5px;
    color: var(--light-pink);
    font-weight: 900;
    padding: 16px 60px;
    cursor: pointer;
    box-shadow: 0 2px 3px rgba(0, 0, 0, 0.2), 0 2px 6px rgba(0, 0, 0, 0.2);
}

.selected {
    background-color: rgba(0, 0, 0, 0.2);
}